
main {
  margin: auto;
  padding: 1rem;
  color: gray;
  background-image: url(endless-constellation.svg);
  height: 100vh;
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
