---
import Layout from "../layouts/Layout.astro";
import "../styles/utils.css";
---

<Layout title="Test Webpushr">
  <main>
    <section class="wrapper">
      <div class="centered-element">
        <span>Webpushr TEST</span>
      </div>
    </section>
  </main>
</Layout>
